 body{ 
  background-color:rgb(254, 240, 255)
 }
 p{
            color:rgb(138, 60, 109); 
            font-size: 10pt;
        }
      #mean {
            color:rgb(162, 114, 218);
            font-size: 20pt;
            background:rgba(235, 235, 235, 0.44);
      }
      #loud {
            color: rgb(92, 2, 2);
            font-size: 40pt;
            font-weight: 400;
      }
        .harsh {
            color: rgb(86, 62, 0);
            font-size: 10pt;
            background:rgb(240, 250, 255);
        }
  .spinning-image {
    animation: rotation 4s infinite linear;
    display: block;
    margin: 20px auto;
}
.b {
  font-style: italic;
}
.thick {
  font-weight: bold;
}
.thicker {
  font-weight: 1000;
}
.dotted{
  border-style: dotted;
}
.two {
  line-height: 1.6;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.bouncing-image {
    width: 400px; /* Adjust image size as needed */
    height: auto;
    position: relative;
    animation: bounce 1s infinite; /* Apply the animation */
}

.crazyspin {
    width: 300px; /* Adjust size as needed */
    height: auto;
    position: relative; /* Needed for transform positioning to work correctly */
    animation-name: crazyspin;
    animation-duration: 8s; /* How long one full cycle takes */
    animation-timing-function: linear; /* Constant speed */
    animation-iteration-count: infinite; /* Loop forever */
}
.crazyspintwo {
    width: 300px; /* Adjust size as needed */
    height: auto;
    position: relative; /* Needed for transform positioning to work correctly */
    animation-name: crazyspin;
    animation-duration: 8s; /* How long one full cycle takes */
    animation-timing-function: linear; /* Constant speed */
    animation-iteration-count: infinite; /* Loop forever */
}

body {
    margin:0;
    background-color: rgb(253, 217, 248);

}

.content {
    background-color: lightpink;
    position: relative;
    color: darkslategray;
    width:180px;
    height:180px;
    padding:30px;
    border:10px solid aliceblue;
    margin: 50px auto;
    font-family: 'Kalam', cursive;
}

.border {
    background-color: lightpink;
    color: darkslategray;
    width:200px;
    height:200px;
    padding:30px;
    border:10px solid aliceblue;
    margin:50px;
}
.parent {
    position: fixed;
     background-color: antiquewhite;
    color: black;
    top: 20px;
    left: 950px;
    width:200px;
    height:200px;
    padding:30px;

}
.parenttwo {
    position: sticky;
     background-color: rgb(215, 250, 220);
    color: black;
    top: 200px;
    left: 800px;
    width:300px;
    height:300px;
    padding:30px;
}

.parentthree {
    position: sticky;
     background-color: rgb(255, 221, 176);
    color: black;
    top: 80px;
    left: 200px;
    width:300px;
    height:300px;
    padding:30px;
}


.parentfour {
    position: sticky;
     background-color: rgb(196, 224, 255);
    color: black;
    top: 200px;
    left: 400px;
    width:200px;
    height:200px;
    padding:30px;
}

.parentfive {
    position: relative;
     background-color: rgb(252, 196, 255);
    color: black;
    top: 20px;
    left: 500px;
    width: 400px;
    height: 400px;
    padding:30px;
}


.child-one { 
    background-color: antiquewhite;
    color: black;
    position: static;
}

.child-two{
    background-color: rgb(255, 209, 238);
    position: absolute;
    width: 300px;
    height: 300px;
    padding:30px;
}

.child-three{
    background-color: rgb(255, 209, 238);
    position: absolute;
    top: 150px;
    width: 200px;
    height: 200px;
    padding:30px
}

.child-four{
    background-color: rgb(255, 209, 209);
    position: relative;
    top: 150px;
    width: 200px;
    height: 200px;
    padding:30px
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 70px 1fr 70px;
    grid-template-areas: 
        "header header header"
        ;
}

header { 
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Start and end at original position */
        animation-timing-function: ease-in; /* Fast drop */
    }
    50% {
        transform: translateY(-100px); /* Move up 100px */
        animation-timing-function: ease-out; /* Slow rise */
    }
}
@keyframes crazyspintwo {
    0% {
        transform: translate(0px,0px) rotate(720deg);
    }
    25% {
        transform: translate(0, 1000px) rotate(540deg);
    }
    50% {
        transform: translate(1000px, 1000px) rotate(360deg);
    }
    75% {
        transform: translate(01000px, 0) rotate(180deg);
    }
    100% {
        transform: translate(1000px, 1000px) rotate(0deg);
    }
}
@keyframes crazyspin {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(1000px, 0) rotate(180deg);
    }
    50% {
        transform: translate(1000px, 1000px) rotate(360deg);
    }
    75% {
        transform: translate(0, 1000px) rotate(540deg);
    }
    100% {
        transform: translate(0, 0) rotate(720deg);
    }
}